body {
  margin: 0;
  padding: 0;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#messages li:nth-child(odd) {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(237, 93, 93);
  color: white;
  align-self: flex-start;
  margin: 10px 0;
  padding-top:5px;
  padding-left: 5px;
}

#messages li:nth-child(even) {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: gray;
  color: white;
  align-self: flex-start;
  margin: 10px 0;
  padding-top:5px;
  padding-left: 5px;
}

#msg-form {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center; /* Vertically center the input */
  align-items:center;
  width: 100%;
  height: 50px;
  background-color: gray;
}

#msg-input {
  width: 70%;
  height: 40px;
  margin: auto 20px;
}

#msg-form button{
  background-color: rgb(237, 93, 93);
  color: white;
  padding: 8px 25px;
  border: solid 1px black;
  border-radius: 5px;
}
